body {
    font-family: Arial, sans-serif;
    background-color: #e8818189;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right,rgb(215, 192, 146),rgb(231, 186, 96),rgb(245, 179, 46));
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color:  whitesmoke;
    text-decoration: wavy;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.booking-form, .available-tickets {
    background-color: wheat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

h1, h2 {
    color: rgba(246, 172, 25, 0.811);
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7babdf58;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #5581b1;
}

footer {
    background-image: linear-gradient(to right,rgb(215, 192, 146),rgb(231, 186, 96),rgb(245, 179, 46));
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
